.myfooter footer {
  background-color: #1b1b1b;
  padding: 20px 0;
  text-align: center;
  font-size: 18px;
  color: #fff;
}

footer p {
  display: inline-block;
}

footer p a {
  text-decoration: underline;
  transition: 0.2s;
}

footer p a:hover {
  opacity: 0.8;
}

.light .myfooter .teal {
  background-color: teal;
}
