/* =================
 table of contents
===================== 
1-  title
2- sub-task section
3- Add-more BTN && Delete BTN 
** Colors for Light Theme **/

.edit-task {
  min-height: calc(100vh - 133px);
  text-align: center;
  padding: 20px 0 50px;
}

/* ==============================
1-  title
=================================*/
.edit-task .title-input {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-top: 11px;
}

.edit-task .fa-pen-to-square {
  font-size: 18px;
  transition: 0.2s;
  cursor: pointer;
}

/* ==============================
2- sub-task section
=================================*/
.edit-task section.sub-task {
  max-width: 620px;
  margin-left: auto;
  margin-right: auto;
}
.edit-task .parent-time {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.edit-task .time {
  font-size: 12px;
  color: rgb(164, 213, 255);
}

.edit-task #checkbox {
  width: 18px;
  height: 18px;
  accent-color: rgb(26, 156, 156);
}

.edit-task label {
  font-size: 17px;
  margin-left: 11px;
  position: relative;
  bottom: 3px;
}

.edit-task .card-task {
  box-shadow: 0 5px 30px 0 rgb(0 0 0 / 15%);
  background-color: rgb(65, 71, 84);
  padding: 16px;
  border-radius: 5px;
  justify-content: space-between;
  margin-bottom: 11px;
  color: #fff;
  transition: 0.3s;
  border-left: 4px solid transparent;
}

.edit-task .card-task:hover {
  background-color: rgb(74, 82, 97);
  border-left: 4px solid wheat;
}

.light .edit-task .card-task:hover {
  background-color: rgb(74, 82, 97);
  border-left: 4px solid teal;
}

.edit-task .fa-trash {
  padding-right: 19px;
  color: rgb(237, 181, 181);
  cursor: pointer;
}

.add-new-task {
  display: flex;
  flex-direction: row;
  gap: 16px;
  box-shadow: 0 5px 30px 0 rgb(0 0 0 / 15%);
  background-color: rgb(65, 71, 84);
  padding: 16px;
  border-radius: 5px;
  animation: zoomIn 0.8s;
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.add-new-task input {
  margin-bottom: 0;
}

/* ==============================
3- Add-more BTN && Delete BTN 
=================================*/

.edit-task .delete {
  border-radius: 5px;
  border: none;
}

/* ==============================
** Colors for Light Theme **
=================================*/
.light .edit-task .title-input,
.light .fa-pen-to-square,
.light label,
.light .time {
  color: rgb(65, 71, 84);
}
