.forgot-pass {
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 20px;
}
.forgot-pass:hover {
  opacity: 0.7;
}

.check-email {
  color: #333;
  font-size: 16px;
  margin-top: 25px;
  line-height: 25px;
}
