.forgot-password {
  background-color: white;
  padding: 20px;
  max-width: 400px;
  height: 333px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 5;
  scale: 0;
  transition: 0.3s;
}

.forgot-password.show {
  scale: 1;
}

.forgot-pass {
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}
.forgot-pass:hover {
  opacity: 0.7;
}

.close .fa-xmark {
  font-size: 29px;
  color: #444;
  position: absolute;
  top: 17px;
  right: 22px;
  transition: 0.3s;
  cursor: pointer;
}

.close .fa-xmark:hover {
  color: orange;
  transform: rotate(180deg);
}

.check-email {
  color: #333;
  font-size: 16px;
  margin-top: 25px;
  line-height: 25px;
}
